! Nord color theme

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
URxvt.background: [90]nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!! urxvt config

URxvt.font: xft:Hack:size=11, \
            xft:DejaVu Sans:size=11, \
            xft:Noto Sans Mono CJK JP:size=11, \
URxvt.boldFont: xft:Hack:size=11:bold, \
                xft:DejaVu Sans:size=11:bold, \
                xft:Noto Sans Mono CJK JP:size=11:bold, \
URxvt.italicFont: xft:Hack:size=11:italic, \
                  xft:DejaVu Sans:size=11:italic, \
                  xft:Noto Sans Mono CJK JP:size=11:italic, \
URxvt.boldItalicFont: xft:Hack:size=11:bold:italic, \
                      xft:DejaVu Sans:size=11:bold:italic, \
                      xft:Noto Sans Mono CJK JP:size=11:bold:italic, \
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.internalBorder: 15
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.iso14755: false

! see arch linux wiki on urxvt

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.loginShell: true

! plugins
! keyboard-select uses vim keybindings
! by default urxvt supports Ctrl-Alt-c/v for copy/pasting to clipboard respectively

URxvt.perl-ext-common:      default,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.url-select.button:    2
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
