/* Note:
 * The old GTK3 way of defining colours via the @define-color rule has been deprecated in GTK4.
 * See: https://docs.gtk.org/gtk4/css-properties.html#non-css-colors
 * and https://docs.gtk.org/gtk3/css-overview.html#specifying-colors-in-various-ways
 * Libadwaita CSS variables: https://gnome.pages.gitlab.gnome.org/libadwaita/doc/1-latest/css-variables.html
 * TODO:
 * Implement sidebar, secondary sidebar and thumbnail colours. See named colours above.
 * */

/* gtk3 */
@define-color blue_1 #83a598;
@define-color blue_2 #649590;
@define-color blue_3 #458588;
@define-color blue_4 #267680;
@define-color blue_5 #076678;
@define-color green_1 #b8bb26;
@define-color green_2 #a8a920;
@define-color green_3 #98971a;
@define-color green_4 #898614;
@define-color green_5 #79740e;
@define-color yellow_1 #fabd2f;
@define-color yellow_2 #e9ab28;
@define-color yellow_3 #d79921;
@define-color yellow_4 #c6881b;
@define-color yellow_5 #b57614;
@define-color orange_1 #fe8019;
@define-color orange_2 #ea6f14;
@define-color orange_3 #d65d0e;
@define-color orange_4 #c34c09;
@define-color orange_5 #af3a03;
@define-color red_1 #fb4934;
@define-color red_2 #e43729;
@define-color red_3 #cc241d;
@define-color red_4 #b51212;
@define-color red_5 #9d0006;
@define-color purple_1 #d3869b;
@define-color purple_2 #c27491;
@define-color purple_3 #b16286;
@define-color purple_4 #a0517c;
@define-color purple_5 #8f3f71;
@define-color brown_1 #d38e54;
@define-color brown_2 #bb7d4b;
@define-color brown_3 #a36b42;
@define-color brown_4 #8b5a3a;
@define-color brown_5 #734931;
@define-color light_1 #fbf1c7;
@define-color light_2 #ebdbb2;
@define-color light_3 #d5c4a1;
@define-color light_4 #bdae93;
@define-color light_5 #a89984;
@define-color dark_1 #7c6f64;
@define-color dark_2 #665c54;
@define-color dark_3 #504945;
@define-color dark_4 #3c3836;
@define-color dark_5 #282828;
@define-color dark_5_soft #32302f;
@define-color dark_5_hard #1d2021;
@define-color destructive_color @red_1;
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color @light_2;
@define-color success_color @green_1;
@define-color success_bg_color @green_3;
@define-color success_fg_color @light_2;
@define-color warning_color @orange_1;
@define-color warning_bg_color @orange_3;
@define-color warning_fg_color @dark_5;
@define-color error_color @red_1;
@define-color error_bg_color @red_3;
@define-color error_fg_color @light_2;
@define-color window_bg_color @dark_5;
@define-color window_fg_color @light_2;
@define-color view_bg_color @dark_5;
@define-color view_fg_color @light_2;
@define-color headerbar_bg_color @dark_4;
@define-color headerbar_fg_color @light_2;
@define-color headerbar_border_color @dark_5_hard;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color @dark_5_soft;
@define-color card_fg_color @light_2;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color @dark_5_soft;
@define-color dialog_fg_color @light_2;
@define-color popover_bg_color @dark_5_soft;
@define-color popover_fg_color @light_2;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);

@define-color accent_blue @blue_3;
@define-color accent_teal #689d6a;
@define-color accent_green @green_3;
@define-color accent_yellow @yellow_3;
@define-color accent_orange @orange_3;
@define-color accent_red @red_3;
@define-color accent_pink #d56199;
@define-color accent_purple @purple_3;
@define-color accent_slate @dark_1;
@define-color accent_color @yellow_1;
@define-color accent_bg_color @accent_yellow;
@define-color accent_fg_color @dark_5;

/* gtk4 */
:root {
  --accent-color: @accent_color;
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
}
