[Desktop Entry]
Type=Application
Name=Glances
GenericName=System monitor
Exec=glances
Terminal=true
Categories=System;Monitor;
Keywords=Glances;system;task;
