[Desktop Entry]
Type=Application
Name=gotop
GenericName=System monitor
Exec=gotop
Terminal=true
Categories=System;Monitor;
Keywords=gotop;system;task;
