[Desktop Entry]
Name=NeoMutt
GenericName=Mail client
Comment=Text-based mail client
Type=Application
Categories=ConsoleOnly;Email;
Keywords=Email
MimeType=message/rfc822;x-scheme-handler/mailto;
Terminal=false
Exec=urxvt -e neomutt %U
