[Desktop Entry]
Type=Application
Name=ranger
GenericName=File manager
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=false
Exec=urxvt -e ranger %U
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher
