[Desktop Entry]
Type=Application
Name=spotify-tui
GenericName=Music Player
TryExec=spt
Exec=spt
Terminal=true
Categories=Audio;Music;Player;
Keywords=Music;Spotify;
